* {
    margin: 0px;
    padding: 0px;
}
body{
    margin-left: 100px;
}

.circle,
.oDiv,
.tree {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    margin-bottom: 100px;
}
.circle {
   
    /* 圆形 */
    border-radius: 50%;
}

.oDiv {
    /* 锥形 */
    border-top-left-radius: 200px 200px;
    border-bottom-right-radius: 200px 200px;
}

.tree {
    border-top-left-radius: 200px 150px;
    border-bottom-right-radius: 200px 150px;
}