* {
	padding: 0px;
	margin: 0px;
}

div {
	position: absolute;
	left: calc(50% - 200px);
	top: 100px;
	width: 400px;
	height: 150px;
	font-size: 90px;
	font-weight: bold;
	color: transparent;
	font-family: simsun;
	-webkit-text-stroke: 2px #f30;
}