/* not选择器 */
/* div:not([class=demo]) {
    width: 100px;
    height: 100px;
    background-color: pink;
} */


/* root选择器 */
/* 跟标签选择器 */
/* :root {
    background-color: hotpink;
} */

/* html选择器 */
/* html { 
    background-color: red;
} */
:root,
body {
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    /* background-color: green; */
}

.wrapper {
    position: absolute;
    top: 100px;
}

.wrapper a {
    background-color: hotpink;
    text-decoration:none;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
}


div[id]:not(:target) {
    display: none;
}

#green,#red,#pink {
    width: 100%;
    height: 100%;
}
#green {
    background-color: green;
}

#red {
    background-color: red;
}

#pink {
    background-color: pink;
}